@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #d5def5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #d5def5;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

#root {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}
