:root {
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
}

#root {
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
}
