:root {
	--chat--color--primary: #1a957d;
	--chat--color--primary-shade-50: #94c0b0;
	--chat--color--primary--shade-100: #9fd1c0;
	--chat--color--secondary: #f79e54;
	--chat--color-secondary-shade-50: #f6aa8e;
	--chat--color-white: #ffffff;
	--chat--color-light: #9fd1c0;
	--chat--color-light-shade-50: #94c0b0;
	--chat--color-light-shade-100: #f6aa8e;
	--chat--color-medium: #000000;
	--chat--color-dark: #000000;
	--chat--color-disabled: #000000;
	--chat--color-typing: #000000;

	--chat--font-family: 'Rubik', sans-serif;
	--chat--spacing: 1rem;
	--chat--border-radius: 0.75rem;
	--chat--transition-duration: 0.2s;

	--chat--window--width: 400px;
	--chat--window--height: 600px;

	--chat--header-height: auto;
	--chat--header--padding: var(--chat--spacing);
	--chat--header--background: var(--chat--color-light);
	--chat--header--color: #000000;
	--chat--header--border-top: none;
	--chat--header--border-bottom: none;
	--chat--heading--font-size: 2em;
	--chat--subtitle--font-size: inherit;
	--chat--subtitle--line-height: 1.6;

	--chat--textarea--height: 54px;

	--chat--message--font-size: 1rem;
	--chat--message--padding: var(--chat--spacing);
	--chat--message--border-radius: var(--chat--border-radius);
	--chat--message-line-height: 1.6;
	--chat--message--bot--background: #1a957d;
	--chat--message--bot--color: #ffffff;
	--chat--message--bot--border: none;
	--chat--message--user--background: #f79e54;
	--chat--message--user--color: #ffffff;
	--chat--message--user--border: none;
	--chat--message--pre--background: rgba(247, 158, 84, 0.15);

	--chat--toggle--background: var(--chat--color--primary);
	--chat--toggle--hover--background: var(--chat--color--primary-shade-50);
	--chat--toggle--active--background: var(--chat--color--primary--shade-100);
	--chat--toggle--color: var(--chat--color-white);
	--chat--toggle--size: 64px;
}
